.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 150px;
  width: 800px;
  gap: 24px;
  border-radius: 12px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

#score {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 400px;
  font-size: 24px;
  background-color: #ffffff;

  font-weight: bold;
  font-family: Roboto;
  white-space: normal;
  border-radius: 12px;
  margin-top: 24px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
}

#title {
  font-family: Roboto;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

body {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background-color: #ffffff;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 90, 90);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  font-family: Roboto;
  width: 150px;
  height: 70px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: none;
}

button:active {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}
